[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DCPO"]
	path = DCPO
	url = https://github.com/fsolt/dcpo
[submodule "dotwhisker"]
	path = dotwhisker
	url = https://github.com/fsolt/dotwhisker
[submodule "gesisdata"]
	path = gesisdata
	url = https://github.com/fsolt/gesisdata
[submodule "icpsrdata"]
	path = icpsrdata
	url = https://github.com/fsolt/icpsrdata
[submodule "pewdata"]
	path = pewdata
	url = https://github.com/fsolt/pewdata
[submodule "ropercenter"]
	path = ropercenter
	url = https://github.com/fsolt/ropercenter
