[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "gesisdata"]
	path = gesisdata
	url = https://github.com/fsolt/gesisdata
	shallow = true
	registered = true
[submodule "pewdata"]
	path = pewdata
	url = https://github.com/fsolt/pewdata
	shallow = true
	registered = true
[submodule "ropercenter"]
	path = ropercenter
	url = https://github.com/fsolt/ropercenter
	shallow = true
	registered = true
